.programs{
    margin: 80px auto;
    width:90%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.program:hover{
    opacity:1;
    bottom:0;
    right:0;
    background: rgba(2, 7, 54, 0.3);
    align-items: center;
    justify-content: center;
    color:#333;
}
.program img{
    width:100%;
    border-radius: 10px;
    display:block;
}
.program{
    flex-basis:31%;
    display:relative;
}

/* -------media query ------*/

@media (max-width:650px){
    .programs{
        flex-direction: column;
    }
    .program{
        flex-basis:100%;
    margin: 20px; ;    }
}